<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]={exact:true}>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Characters" routerLinkActive="active">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Students" routerLinkActive="active">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Staff" routerLinkActive="active">Staff</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid mx-auto my-3">
    <router-outlet></router-outlet>
</div>